.box1
 {
     position: relative;
     width: 100%;
     height: auto;
     float: left;
     box-sizing: border-box;
}

.row1,
.row2,
.row3,
.row4,
.row5,
.row6,
.row7,
.row8,
.row9 {
    position: relative;
    height: 100px;
    float: left;
    border: .05px solid #000;
    overflow: hidden;
    box-sizing: border-box;
    

}

.row1 
{   width: 16.6%;
    background-color: fuchsia;
}

.row2 
{
    width: 8.3%;
    background-color: deepskyblue;
}

.row3 {
    width: 16.6%;
    background-color: fuchsia;
}

.row4 {
    width: 49.8%;
    background-color: crimson;
}

.row5 {
    width: 24.9%;
    background-color: coral;
}

.row6{
    width: 8.3%;
    background-color: deepskyblue;

}

.row7 {
    width: 16.6%;
    background-color: fuchsia;

}

.row8 {
    width: 24.9%;
    background-color: coral;
}

.row9 {
    width: 49.8%;
    background-color: crimson;
}




